.containe {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 0 auto;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.main-text {
    text-align: center;
    color: gray;
    padding-bottom: 60px;
}

.block-two {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    padding-left: 13%;
}

.one{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.one-name {
    padding-top: 20px;
    font-size: 20px;
}

.one-text {
    padding-top: 20px;
    width: 70%;
    text-align: center;
    color: gray;
}



@media screen and (min-width: 768px) {
    .main-text span{
        width:60%;
    }
}

@media screen and (min-width: 768px) {
    .one{
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
}


@media screen and (max-width: 768px){
    .one{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
}

@media screen and (min-width: 1280px) {
    .main-text {
        width: 75%;
        margin: 0 auto;
        color: gray;
        padding-top: 10px;
    }
}

@media screen and (min-width: 1280px) {
    .one{
        width: 33%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }
}